<!DOCTYPE html>
<!-- diretiva ng-app -->
<html ng-app="" >

<head>
  <meta charset="utf-8" />
  <title>Tutorial AngularJS - W#Schools</title>
  <script data-require="angular.js@1.2.x" src="http://code.angularjs.org/1.2.4/angular.js" data-semver="1.2.1"></script>
    <script data-require="angular.js@1.2.x" src="http://code.angularjs.org/1.2.4/i18n/angular-locale_pt-br.js" ></script>
  </head> 
<body>
  <div ng-controller='pessoaControle'>

    <p>Primerio Nome: 
        <input type='text' ng-model='primName'/>
    </p>
    <p>Segundo Nome:
        <input type='text' ng-model='segName'/>
    </p>
    
    <p>Meu Nome: {{primName + " " + segName}}</p>
  </div>
  <div ng-init="quantity=1; preice=5">
    <p>Quantity: <input type='number' ng-model='quantity'/></p>
    <p>Cost: <input type='number' ng-model='preice'/></p>
    <p>TOtal do dolar: {{quantity * preice}}</p>
  </div>
  <script type="text/javascript">
    function pessoaControle($scope){
      $scope.primName = 'Wellington';
      $scope.segName = 'Araujo';
    };
  </script>
</body>

</html>